# sbt
/target
/project/target
/project/project/target
/*/target

# eclipse
/.project
/.classpath
/.cache

# idea
/.idea
/.idea_modules
/*.iml

# ?
/.settings

# log files created when jvm crashes
/hs_err_pid*.log

# Play framework
logs
tmp
.history
dist
/out
/RUNNING_PID
/.target
/bin
